p.section-head {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  line-height: 1.2em;
  font-weight: 500;
  color: #818181;
}

.with-cols {
  display: flex;
  flex-direction: row;
}

.with-cols > * {
  flex: 1 1 0;
}